[v-cloak] {
  display: none !important;
}

.wfull {
  width: 100%;
}

.hfull {
  height: 100%;
}

.hide {
  display: none;
}

.vhide {
  visibility: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex_2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex_3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex_4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex_5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex_6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.flex_around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_verticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_v_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex_nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.pos_rel {
  position: relative;
  top: 0;
  left: 0;
}

.pos_abs {
  position: absolute;
  top: 0;
  left: 0;
}

.pos_fix {
  position: fixed;
  top: 0;
  left: 0;
}


.clearfix:after,
.clearfix:before {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.clearfix {
  zoom: 1;
}

.ellipsis {
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis
}

.border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.fade_enter_active,
.fade_leave_active {
  transition: opacity .5s
}

.fade_enter,
.fade_leave_active {
  opacity: 0
}


input,
textarea {
	caret-color: #999
}

input::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

textarea::-moz-placeholder {
  color: #999;
}